{
    "openapi": "3.1.0",
    "info": {
        "title": "RetJet API",
        "description": "Public API of [RetJet](https://retjet.com), the returns and warranty platform for online\nshops. It handles returns from every sales channel a shop sells through, in one place.\n\nToday it covers returns. Shipping and tracking will join it under the same base URL, each\nversioned on its own, so nothing here changes when they do.\n\nThis API is what an integration talks to: a shop platform, a middleware, or a piece of\nsoftware you wrote yourself. With it you can register a return on a customer's behalf,\nread the returns already registered, follow what happened to each of them, exchange\nmessages with the customer, and settle the amount to refund.\n\n## Getting an API key\n\nGenerate a key in your RetJet account settings, under API keys. Keys belong to the\ncompany rather than to the person who created them, so a key keeps working after that\nperson leaves. If you cannot find the section, ask us to enable API access for your\naccount.\n\n## Authentication\n\nAll endpoints require a valid API key passed via the `Authorization` header:\n\n```\nAuthorization: Bearer <your-api-key>\n```\n\n## Rate limits\n\nTwo limits apply per key: 60 requests in quick succession, refilling at 60 per minute,\nand 10 000 requests a day. Every response carries `X-RateLimit-Limit`,\n`X-RateLimit-Remaining` and `X-RateLimit-Reset` for whichever of the two is closest to\nrefusing you, and a refusal carries `Retry-After`, which says how long to wait.\n\n## Identifying a request\n\nEvery response carries an `X-Request-Id` header holding a unique identifier for that\ncall. It is worth keeping in your own logs: quoting it when you report a problem points\nus straight at the record of what you sent, what we did about it and what came back,\nrather than at a search by timestamp.\n\n## Collections\n\nCollection endpoints take `page` and `limit`. The default page size is 30 and the\nlargest accepted is 100.\n\nEvery collection response says how much there is, so you never have to fetch another\npage to find out whether one exists:\n\n| Header | Meaning |\n|---|---|\n| `X-Total-Count` | how many records match, across all pages |\n| `X-Page` | the page you are looking at |\n| `X-Per-Page` | how many records a page holds |\n| `X-Total-Pages` | how many pages there are |\n\nWhere there is a page after or before this one, a `Link` header carries it ready to\nfollow, with your filters preserved:\n\n```\nLink: <https://api.retjet.com/returns/v1/rma-requests?limit=30&page=2>; rel=\"next\"\n```\n\nA `Link` header with no `rel=\"next\"` means you have reached the end. Endpoints that\nalways answer with a complete list, such as the dictionaries, report a single page\nholding everything and send no `Link` at all.\n\n## Response format\n\nAll responses are returned in JSON format. Successful responses return HTTP 200 for reads and HTTP 201 for resource creation.\n\n## Error handling\n\n| HTTP Code | Description |\n|-----------|-------------|\n| 400 | Invalid request data — check the response body for field-level errors |\n| 401 | Missing or invalid API key |\n| 403 | Insufficient permissions for this operation |\n| 404 | Requested resource not found |\n| 429 | Rate limit exceeded — retry after the indicated delay |\n| 500 | Internal server error — contact support if persistent |",
        "version": "1.0.0"
    },
    "servers": [
        {
            "url": "https://api.retjet.com",
            "description": "RetJet API"
        }
    ],
    "paths": {
        "/v1/rma-requests/bulk/owner": {
            "post": {
                "operationId": "api_v1rma-requestsbulkowner_post",
                "tags": [
                    "BulkOwner"
                ],
                "responses": {
                    "201": {
                        "description": "BulkOwner resource created",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/BulkOwner"
                                }
                            },
                            "application/ld+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/BulkOwner.jsonld"
                                }
                            }
                        },
                        "headers": {
                            "X-Request-Id": {
                                "description": "Identifies this call in our logs. Keep it: quoting it in a report takes us straight to the record of what happened.",
                                "schema": {
                                    "type": "string"
                                },
                                "example": "01a06c3d-e514-70dc-80e7-d3a839a6c5eb"
                            },
                            "X-RateLimit-Limit": {
                                "description": "The allowance that applies, for whichever limit is closest to refusing you.",
                                "schema": {
                                    "type": "integer"
                                },
                                "example": 60
                            },
                            "X-RateLimit-Remaining": {
                                "description": "How much of that allowance is left.",
                                "schema": {
                                    "type": "integer"
                                },
                                "example": 59
                            },
                            "X-RateLimit-Reset": {
                                "description": "When the allowance is replenished, as a Unix timestamp.",
                                "schema": {
                                    "type": "integer"
                                },
                                "example": 1788522390
                            }
                        },
                        "links": []
                    },
                    "400": {
                        "description": "The request could not be processed. The body says which part was rejected.",
                        "content": {
                            "application/ld+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error.jsonld"
                                }
                            },
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        },
                        "headers": {
                            "X-Request-Id": {
                                "description": "Identifies this call in our logs. Keep it: quoting it in a report takes us straight to the record of what happened.",
                                "schema": {
                                    "type": "string"
                                },
                                "example": "01a06c3d-e514-70dc-80e7-d3a839a6c5eb"
                            },
                            "X-RateLimit-Limit": {
                                "description": "The allowance that applies, for whichever limit is closest to refusing you.",
                                "schema": {
                                    "type": "integer"
                                },
                                "example": 60
                            },
                            "X-RateLimit-Remaining": {
                                "description": "How much of that allowance is left.",
                                "schema": {
                                    "type": "integer"
                                },
                                "example": 59
                            },
                            "X-RateLimit-Reset": {
                                "description": "When the allowance is replenished, as a Unix timestamp.",
                                "schema": {
                                    "type": "integer"
                                },
                                "example": 1788522390
                            }
                        },
                        "links": []
                    },
                    "422": {
                        "description": "The payload did not pass validation. The body lists each field and what is wrong with it.",
                        "content": {
                            "application/ld+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ConstraintViolation.jsonld-jsonld"
                                }
                            },
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ConstraintViolation-json"
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ConstraintViolation-json"
                                }
                            }
                        },
                        "headers": {
                            "X-Request-Id": {
                                "description": "Identifies this call in our logs. Keep it: quoting it in a report takes us straight to the record of what happened.",
                                "schema": {
                                    "type": "string"
                                },
                                "example": "01a06c3d-e514-70dc-80e7-d3a839a6c5eb"
                            },
                            "X-RateLimit-Limit": {
                                "description": "The allowance that applies, for whichever limit is closest to refusing you.",
                                "schema": {
                                    "type": "integer"
                                },
                                "example": 60
                            },
                            "X-RateLimit-Remaining": {
                                "description": "How much of that allowance is left.",
                                "schema": {
                                    "type": "integer"
                                },
                                "example": 59
                            },
                            "X-RateLimit-Reset": {
                                "description": "When the allowance is replenished, as a Unix timestamp.",
                                "schema": {
                                    "type": "integer"
                                },
                                "example": 1788522390
                            }
                        },
                        "links": []
                    },
                    "403": {
                        "description": "The key is valid but not allowed to do this.",
                        "content": {
                            "application/ld+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error.jsonld"
                                }
                            },
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        },
                        "headers": {
                            "X-Request-Id": {
                                "description": "Identifies this call in our logs. Keep it: quoting it in a report takes us straight to the record of what happened.",
                                "schema": {
                                    "type": "string"
                                },
                                "example": "01a06c3d-e514-70dc-80e7-d3a839a6c5eb"
                            },
                            "X-RateLimit-Limit": {
                                "description": "The allowance that applies, for whichever limit is closest to refusing you.",
                                "schema": {
                                    "type": "integer"
                                },
                                "example": 60
                            },
                            "X-RateLimit-Remaining": {
                                "description": "How much of that allowance is left.",
                                "schema": {
                                    "type": "integer"
                                },
                                "example": 59
                            },
                            "X-RateLimit-Reset": {
                                "description": "When the allowance is replenished, as a Unix timestamp.",
                                "schema": {
                                    "type": "integer"
                                },
                                "example": 1788522390
                            }
                        },
                        "links": []
                    },
                    "401": {
                        "description": "The API key is missing, malformed, expired or no longer accepted.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error.jsonld"
                                }
                            },
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error.jsonld"
                                }
                            }
                        },
                        "headers": {
                            "X-Request-Id": {
                                "description": "Identifies this call in our logs. Keep it: quoting it in a report takes us straight to the record of what happened.",
                                "schema": {
                                    "type": "string"
                                },
                                "example": "01a06c3d-e514-70dc-80e7-d3a839a6c5eb"
                            },
                            "X-RateLimit-Limit": {
                                "description": "The allowance that applies, for whichever limit is closest to refusing you.",
                                "schema": {
                                    "type": "integer"
                                },
                                "example": 60
                            },
                            "X-RateLimit-Remaining": {
                                "description": "How much of that allowance is left.",
                                "schema": {
                                    "type": "integer"
                                },
                                "example": 59
                            },
                            "X-RateLimit-Reset": {
                                "description": "When the allowance is replenished, as a Unix timestamp.",
                                "schema": {
                                    "type": "integer"
                                },
                                "example": 1788522390
                            }
                        }
                    },
                    "429": {
                        "description": "Too many requests. The allowance is spent; wait as long as Retry-After says.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error.jsonld"
                                }
                            },
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error.jsonld"
                                }
                            }
                        },
                        "headers": {
                            "X-Request-Id": {
                                "description": "Identifies this call in our logs. Keep it: quoting it in a report takes us straight to the record of what happened.",
                                "schema": {
                                    "type": "string"
                                },
                                "example": "01a06c3d-e514-70dc-80e7-d3a839a6c5eb"
                            },
                            "X-RateLimit-Limit": {
                                "description": "The allowance that applies, for whichever limit is closest to refusing you.",
                                "schema": {
                                    "type": "integer"
                                },
                                "example": 60
                            },
                            "X-RateLimit-Remaining": {
                                "description": "How much of that allowance is left.",
                                "schema": {
                                    "type": "integer"
                                },
                                "example": 59
                            },
                            "X-RateLimit-Reset": {
                                "description": "When the allowance is replenished, as a Unix timestamp.",
                                "schema": {
                                    "type": "integer"
                                },
                                "example": 1788522390
                            },
                            "Retry-After": {
                                "description": "Seconds to wait before trying again.",
                                "schema": {
                                    "type": "integer"
                                },
                                "example": 30
                            }
                        }
                    }
                },
                "summary": "Bulk assign owner to RMA requests",
                "description": "Assigns an owner to multiple RMA requests.",
                "parameters": [],
                "requestBody": {
                    "description": "The new BulkOwner resource",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/BulkOwner"
                            }
                        },
                        "application/ld+json": {
                            "schema": {
                                "$ref": "#/components/schemas/BulkOwner.jsonld"
                            }
                        }
                    },
                    "required": true
                },
                "deprecated": false
            }
        },
        "/v1/rma-requests/bulk/unassign-owner": {
            "post": {
                "operationId": "bulk_unassign_owner",
                "tags": [
                    "BulkOwner"
                ],
                "responses": {
                    "201": {
                        "description": "BulkOwner resource created",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/BulkOwner"
                                }
                            },
                            "application/ld+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/BulkOwner.jsonld"
                                }
                            }
                        },
                        "headers": {
                            "X-Request-Id": {
                                "description": "Identifies this call in our logs. Keep it: quoting it in a report takes us straight to the record of what happened.",
                                "schema": {
                                    "type": "string"
                                },
                                "example": "01a06c3d-e514-70dc-80e7-d3a839a6c5eb"
                            },
                            "X-RateLimit-Limit": {
                                "description": "The allowance that applies, for whichever limit is closest to refusing you.",
                                "schema": {
                                    "type": "integer"
                                },
                                "example": 60
                            },
                            "X-RateLimit-Remaining": {
                                "description": "How much of that allowance is left.",
                                "schema": {
                                    "type": "integer"
                                },
                                "example": 59
                            },
                            "X-RateLimit-Reset": {
                                "description": "When the allowance is replenished, as a Unix timestamp.",
                                "schema": {
                                    "type": "integer"
                                },
                                "example": 1788522390
                            }
                        },
                        "links": []
                    },
                    "400": {
                        "description": "The request could not be processed. The body says which part was rejected.",
                        "content": {
                            "application/ld+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error.jsonld"
                                }
                            },
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        },
                        "headers": {
                            "X-Request-Id": {
                                "description": "Identifies this call in our logs. Keep it: quoting it in a report takes us straight to the record of what happened.",
                                "schema": {
                                    "type": "string"
                                },
                                "example": "01a06c3d-e514-70dc-80e7-d3a839a6c5eb"
                            },
                            "X-RateLimit-Limit": {
                                "description": "The allowance that applies, for whichever limit is closest to refusing you.",
                                "schema": {
                                    "type": "integer"
                                },
                                "example": 60
                            },
                            "X-RateLimit-Remaining": {
                                "description": "How much of that allowance is left.",
                                "schema": {
                                    "type": "integer"
                                },
                                "example": 59
                            },
                            "X-RateLimit-Reset": {
                                "description": "When the allowance is replenished, as a Unix timestamp.",
                                "schema": {
                                    "type": "integer"
                                },
                                "example": 1788522390
                            }
                        },
                        "links": []
                    },
                    "422": {
                        "description": "The payload did not pass validation. The body lists each field and what is wrong with it.",
                        "content": {
                            "application/ld+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ConstraintViolation.jsonld-jsonld"
                                }
                            },
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ConstraintViolation-json"
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ConstraintViolation-json"
                                }
                            }
                        },
                        "headers": {
                            "X-Request-Id": {
                                "description": "Identifies this call in our logs. Keep it: quoting it in a report takes us straight to the record of what happened.",
                                "schema": {
                                    "type": "string"
                                },
                                "example": "01a06c3d-e514-70dc-80e7-d3a839a6c5eb"
                            },
                            "X-RateLimit-Limit": {
                                "description": "The allowance that applies, for whichever limit is closest to refusing you.",
                                "schema": {
                                    "type": "integer"
                                },
                                "example": 60
                            },
                            "X-RateLimit-Remaining": {
                                "description": "How much of that allowance is left.",
                                "schema": {
                                    "type": "integer"
                                },
                                "example": 59
                            },
                            "X-RateLimit-Reset": {
                                "description": "When the allowance is replenished, as a Unix timestamp.",
                                "schema": {
                                    "type": "integer"
                                },
                                "example": 1788522390
                            }
                        },
                        "links": []
                    },
                    "403": {
                        "description": "The key is valid but not allowed to do this.",
                        "content": {
                            "application/ld+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error.jsonld"
                                }
                            },
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        },
                        "headers": {
                            "X-Request-Id": {
                                "description": "Identifies this call in our logs. Keep it: quoting it in a report takes us straight to the record of what happened.",
                                "schema": {
                                    "type": "string"
                                },
                                "example": "01a06c3d-e514-70dc-80e7-d3a839a6c5eb"
                            },
                            "X-RateLimit-Limit": {
                                "description": "The allowance that applies, for whichever limit is closest to refusing you.",
                                "schema": {
                                    "type": "integer"
                                },
                                "example": 60
                            },
                            "X-RateLimit-Remaining": {
                                "description": "How much of that allowance is left.",
                                "schema": {
                                    "type": "integer"
                                },
                                "example": 59
                            },
                            "X-RateLimit-Reset": {
                                "description": "When the allowance is replenished, as a Unix timestamp.",
                                "schema": {
                                    "type": "integer"
                                },
                                "example": 1788522390
                            }
                        },
                        "links": []
                    },
                    "401": {
                        "description": "The API key is missing, malformed, expired or no longer accepted.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error.jsonld"
                                }
                            },
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error.jsonld"
                                }
                            }
                        },
                        "headers": {
                            "X-Request-Id": {
                                "description": "Identifies this call in our logs. Keep it: quoting it in a report takes us straight to the record of what happened.",
                                "schema": {
                                    "type": "string"
                                },
                                "example": "01a06c3d-e514-70dc-80e7-d3a839a6c5eb"
                            },
                            "X-RateLimit-Limit": {
                                "description": "The allowance that applies, for whichever limit is closest to refusing you.",
                                "schema": {
                                    "type": "integer"
                                },
                                "example": 60
                            },
                            "X-RateLimit-Remaining": {
                                "description": "How much of that allowance is left.",
                                "schema": {
                                    "type": "integer"
                                },
                                "example": 59
                            },
                            "X-RateLimit-Reset": {
                                "description": "When the allowance is replenished, as a Unix timestamp.",
                                "schema": {
                                    "type": "integer"
                                },
                                "example": 1788522390
                            }
                        }
                    },
                    "429": {
                        "description": "Too many requests. The allowance is spent; wait as long as Retry-After says.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error.jsonld"
                                }
                            },
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error.jsonld"
                                }
                            }
                        },
                        "headers": {
                            "X-Request-Id": {
                                "description": "Identifies this call in our logs. Keep it: quoting it in a report takes us straight to the record of what happened.",
                                "schema": {
                                    "type": "string"
                                },
                                "example": "01a06c3d-e514-70dc-80e7-d3a839a6c5eb"
                            },
                            "X-RateLimit-Limit": {
                                "description": "The allowance that applies, for whichever limit is closest to refusing you.",
                                "schema": {
                                    "type": "integer"
                                },
                                "example": 60
                            },
                            "X-RateLimit-Remaining": {
                                "description": "How much of that allowance is left.",
                                "schema": {
                                    "type": "integer"
                                },
                                "example": 59
                            },
                            "X-RateLimit-Reset": {
                                "description": "When the allowance is replenished, as a Unix timestamp.",
                                "schema": {
                                    "type": "integer"
                                },
                                "example": 1788522390
                            },
                            "Retry-After": {
                                "description": "Seconds to wait before trying again.",
                                "schema": {
                                    "type": "integer"
                                },
                                "example": 30
                            }
                        }
                    }
                },
                "summary": "Bulk unassign owner from RMA requests",
                "description": "Removes owner from multiple RMA requests.",
                "parameters": [],
                "requestBody": {
                    "description": "The new BulkOwner resource",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/BulkOwner"
                            }
                        },
                        "application/ld+json": {
                            "schema": {
                                "$ref": "#/components/schemas/BulkOwner.jsonld"
                            }
                        }
                    },
                    "required": true
                },
                "deprecated": false
            }
        },
        "/v1/rma-requests/bulk/star": {
            "post": {
                "operationId": "api_v1rma-requestsbulkstar_post",
                "tags": [
                    "BulkStar"
                ],
                "responses": {
                    "201": {
                        "description": "BulkStar resource created",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/BulkStar"
                                }
                            },
                            "application/ld+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/BulkStar.jsonld"
                                }
                            }
                        },
                        "headers": {
                            "X-Request-Id": {
                                "description": "Identifies this call in our logs. Keep it: quoting it in a report takes us straight to the record of what happened.",
                                "schema": {
                                    "type": "string"
                                },
                                "example": "01a06c3d-e514-70dc-80e7-d3a839a6c5eb"
                            },
                            "X-RateLimit-Limit": {
                                "description": "The allowance that applies, for whichever limit is closest to refusing you.",
                                "schema": {
                                    "type": "integer"
                                },
                                "example": 60
                            },
                            "X-RateLimit-Remaining": {
                                "description": "How much of that allowance is left.",
                                "schema": {
                                    "type": "integer"
                                },
                                "example": 59
                            },
                            "X-RateLimit-Reset": {
                                "description": "When the allowance is replenished, as a Unix timestamp.",
                                "schema": {
                                    "type": "integer"
                                },
                                "example": 1788522390
                            }
                        },
                        "links": []
                    },
                    "400": {
                        "description": "The request could not be processed. The body says which part was rejected.",
                        "content": {
                            "application/ld+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error.jsonld"
                                }
                            },
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        },
                        "headers": {
                            "X-Request-Id": {
                                "description": "Identifies this call in our logs. Keep it: quoting it in a report takes us straight to the record of what happened.",
                                "schema": {
                                    "type": "string"
                                },
                                "example": "01a06c3d-e514-70dc-80e7-d3a839a6c5eb"
                            },
                            "X-RateLimit-Limit": {
                                "description": "The allowance that applies, for whichever limit is closest to refusing you.",
                                "schema": {
                                    "type": "integer"
                                },
                                "example": 60
                            },
                            "X-RateLimit-Remaining": {
                                "description": "How much of that allowance is left.",
                                "schema": {
                                    "type": "integer"
                                },
                                "example": 59
                            },
                            "X-RateLimit-Reset": {
                                "description": "When the allowance is replenished, as a Unix timestamp.",
                                "schema": {
                                    "type": "integer"
                                },
                                "example": 1788522390
                            }
                        },
                        "links": []
                    },
                    "422": {
                        "description": "The payload did not pass validation. The body lists each field and what is wrong with it.",
                        "content": {
                            "application/ld+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ConstraintViolation.jsonld-jsonld"
                                }
                            },
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ConstraintViolation-json"
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ConstraintViolation-json"
                                }
                            }
                        },
                        "headers": {
                            "X-Request-Id": {
                                "description": "Identifies this call in our logs. Keep it: quoting it in a report takes us straight to the record of what happened.",
                                "schema": {
                                    "type": "string"
                                },
                                "example": "01a06c3d-e514-70dc-80e7-d3a839a6c5eb"
                            },
                            "X-RateLimit-Limit": {
                                "description": "The allowance that applies, for whichever limit is closest to refusing you.",
                                "schema": {
                                    "type": "integer"
                                },
                                "example": 60
                            },
                            "X-RateLimit-Remaining": {
                                "description": "How much of that allowance is left.",
                                "schema": {
                                    "type": "integer"
                                },
                                "example": 59
                            },
                            "X-RateLimit-Reset": {
                                "description": "When the allowance is replenished, as a Unix timestamp.",
                                "schema": {
                                    "type": "integer"
                                },
                                "example": 1788522390
                            }
                        },
                        "links": []
                    },
                    "403": {
                        "description": "The key is valid but not allowed to do this.",
                        "content": {
                            "application/ld+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error.jsonld"
                                }
                            },
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        },
                        "headers": {
                            "X-Request-Id": {
                                "description": "Identifies this call in our logs. Keep it: quoting it in a report takes us straight to the record of what happened.",
                                "schema": {
                                    "type": "string"
                                },
                                "example": "01a06c3d-e514-70dc-80e7-d3a839a6c5eb"
                            },
                            "X-RateLimit-Limit": {
                                "description": "The allowance that applies, for whichever limit is closest to refusing you.",
                                "schema": {
                                    "type": "integer"
                                },
                                "example": 60
                            },
                            "X-RateLimit-Remaining": {
                                "description": "How much of that allowance is left.",
                                "schema": {
                                    "type": "integer"
                                },
                                "example": 59
                            },
                            "X-RateLimit-Reset": {
                                "description": "When the allowance is replenished, as a Unix timestamp.",
                                "schema": {
                                    "type": "integer"
                                },
                                "example": 1788522390
                            }
                        },
                        "links": []
                    },
                    "401": {
                        "description": "The API key is missing, malformed, expired or no longer accepted.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error.jsonld"
                                }
                            },
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error.jsonld"
                                }
                            }
                        },
                        "headers": {
                            "X-Request-Id": {
                                "description": "Identifies this call in our logs. Keep it: quoting it in a report takes us straight to the record of what happened.",
                                "schema": {
                                    "type": "string"
                                },
                                "example": "01a06c3d-e514-70dc-80e7-d3a839a6c5eb"
                            },
                            "X-RateLimit-Limit": {
                                "description": "The allowance that applies, for whichever limit is closest to refusing you.",
                                "schema": {
                                    "type": "integer"
                                },
                                "example": 60
                            },
                            "X-RateLimit-Remaining": {
                                "description": "How much of that allowance is left.",
                                "schema": {
                                    "type": "integer"
                                },
                                "example": 59
                            },
                            "X-RateLimit-Reset": {
                                "description": "When the allowance is replenished, as a Unix timestamp.",
                                "schema": {
                                    "type": "integer"
                                },
                                "example": 1788522390
                            }
                        }
                    },
                    "429": {
                        "description": "Too many requests. The allowance is spent; wait as long as Retry-After says.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error.jsonld"
                                }
                            },
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error.jsonld"
                                }
                            }
                        },
                        "headers": {
                            "X-Request-Id": {
                                "description": "Identifies this call in our logs. Keep it: quoting it in a report takes us straight to the record of what happened.",
                                "schema": {
                                    "type": "string"
                                },
                                "example": "01a06c3d-e514-70dc-80e7-d3a839a6c5eb"
                            },
                            "X-RateLimit-Limit": {
                                "description": "The allowance that applies, for whichever limit is closest to refusing you.",
                                "schema": {
                                    "type": "integer"
                                },
                                "example": 60
                            },
                            "X-RateLimit-Remaining": {
                                "description": "How much of that allowance is left.",
                                "schema": {
                                    "type": "integer"
                                },
                                "example": 59
                            },
                            "X-RateLimit-Reset": {
                                "description": "When the allowance is replenished, as a Unix timestamp.",
                                "schema": {
                                    "type": "integer"
                                },
                                "example": 1788522390
                            },
                            "Retry-After": {
                                "description": "Seconds to wait before trying again.",
                                "schema": {
                                    "type": "integer"
                                },
                                "example": 30
                            }
                        }
                    }
                },
                "summary": "Bulk star RMA requests",
                "description": "Marks multiple RMA requests as starred.",
                "parameters": [],
                "requestBody": {
                    "description": "The new BulkStar resource",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/BulkStar"
                            }
                        },
                        "application/ld+json": {
                            "schema": {
                                "$ref": "#/components/schemas/BulkStar.jsonld"
                            }
                        }
                    },
                    "required": true
                },
                "deprecated": false
            }
        },
        "/v1/rma-requests/bulk/unstar": {
            "post": {
                "operationId": "bulk_unstar",
                "tags": [
                    "BulkStar"
                ],
                "responses": {
                    "201": {
                        "description": "BulkStar resource created",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/BulkStar"
                                }
                            },
                            "application/ld+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/BulkStar.jsonld"
                                }
                            }
                        },
                        "headers": {
                            "X-Request-Id": {
                                "description": "Identifies this call in our logs. Keep it: quoting it in a report takes us straight to the record of what happened.",
                                "schema": {
                                    "type": "string"
                                },
                                "example": "01a06c3d-e514-70dc-80e7-d3a839a6c5eb"
                            },
                            "X-RateLimit-Limit": {
                                "description": "The allowance that applies, for whichever limit is closest to refusing you.",
                                "schema": {
                                    "type": "integer"
                                },
                                "example": 60
                            },
                            "X-RateLimit-Remaining": {
                                "description": "How much of that allowance is left.",
                                "schema": {
                                    "type": "integer"
                                },
                                "example": 59
                            },
                            "X-RateLimit-Reset": {
                                "description": "When the allowance is replenished, as a Unix timestamp.",
                                "schema": {
                                    "type": "integer"
                                },
                                "example": 1788522390
                            }
                        },
                        "links": []
                    },
                    "400": {
                        "description": "The request could not be processed. The body says which part was rejected.",
                        "content": {
                            "application/ld+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error.jsonld"
                                }
                            },
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        },
                        "headers": {
                            "X-Request-Id": {
                                "description": "Identifies this call in our logs. Keep it: quoting it in a report takes us straight to the record of what happened.",
                                "schema": {
                                    "type": "string"
                                },
                                "example": "01a06c3d-e514-70dc-80e7-d3a839a6c5eb"
                            },
                            "X-RateLimit-Limit": {
                                "description": "The allowance that applies, for whichever limit is closest to refusing you.",
                                "schema": {
                                    "type": "integer"
                                },
                                "example": 60
                            },
                            "X-RateLimit-Remaining": {
                                "description": "How much of that allowance is left.",
                                "schema": {
                                    "type": "integer"
                                },
                                "example": 59
                            },
                            "X-RateLimit-Reset": {
                                "description": "When the allowance is replenished, as a Unix timestamp.",
                                "schema": {
                                    "type": "integer"
                                },
                                "example": 1788522390
                            }
                        },
                        "links": []
                    },
                    "422": {
                        "description": "The payload did not pass validation. The body lists each field and what is wrong with it.",
                        "content": {
                            "application/ld+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ConstraintViolation.jsonld-jsonld"
                                }
                            },
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ConstraintViolation-json"
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ConstraintViolation-json"
                                }
                            }
                        },
                        "headers": {
                            "X-Request-Id": {
                                "description": "Identifies this call in our logs. Keep it: quoting it in a report takes us straight to the record of what happened.",
                                "schema": {
                                    "type": "string"
                                },
                                "example": "01a06c3d-e514-70dc-80e7-d3a839a6c5eb"
                            },
                            "X-RateLimit-Limit": {
                                "description": "The allowance that applies, for whichever limit is closest to refusing you.",
                                "schema": {
                                    "type": "integer"
                                },
                                "example": 60
                            },
                            "X-RateLimit-Remaining": {
                                "description": "How much of that allowance is left.",
                                "schema": {
                                    "type": "integer"
                                },
                                "example": 59
                            },
                            "X-RateLimit-Reset": {
                                "description": "When the allowance is replenished, as a Unix timestamp.",
                                "schema": {
                                    "type": "integer"
                                },
                                "example": 1788522390
                            }
                        },
                        "links": []
                    },
                    "403": {
                        "description": "The key is valid but not allowed to do this.",
                        "content": {
                            "application/ld+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error.jsonld"
                                }
                            },
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        },
                        "headers": {
                            "X-Request-Id": {
                                "description": "Identifies this call in our logs. Keep it: quoting it in a report takes us straight to the record of what happened.",
                                "schema": {
                                    "type": "string"
                                },
                                "example": "01a06c3d-e514-70dc-80e7-d3a839a6c5eb"
                            },
                            "X-RateLimit-Limit": {
                                "description": "The allowance that applies, for whichever limit is closest to refusing you.",
                                "schema": {
                                    "type": "integer"
                                },
                                "example": 60
                            },
                            "X-RateLimit-Remaining": {
                                "description": "How much of that allowance is left.",
                                "schema": {
                                    "type": "integer"
                                },
                                "example": 59
                            },
                            "X-RateLimit-Reset": {
                                "description": "When the allowance is replenished, as a Unix timestamp.",
                                "schema": {
                                    "type": "integer"
                                },
                                "example": 1788522390
                            }
                        },
                        "links": []
                    },
                    "401": {
                        "description": "The API key is missing, malformed, expired or no longer accepted.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error.jsonld"
                                }
                            },
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error.jsonld"
                                }
                            }
                        },
                        "headers": {
                            "X-Request-Id": {
                                "description": "Identifies this call in our logs. Keep it: quoting it in a report takes us straight to the record of what happened.",
                                "schema": {
                                    "type": "string"
                                },
                                "example": "01a06c3d-e514-70dc-80e7-d3a839a6c5eb"
                            },
                            "X-RateLimit-Limit": {
                                "description": "The allowance that applies, for whichever limit is closest to refusing you.",
                                "schema": {
                                    "type": "integer"
                                },
                                "example": 60
                            },
                            "X-RateLimit-Remaining": {
                                "description": "How much of that allowance is left.",
                                "schema": {
                                    "type": "integer"
                                },
                                "example": 59
                            },
                            "X-RateLimit-Reset": {
                                "description": "When the allowance is replenished, as a Unix timestamp.",
                                "schema": {
                                    "type": "integer"
                                },
                                "example": 1788522390
                            }
                        }
                    },
                    "429": {
                        "description": "Too many requests. The allowance is spent; wait as long as Retry-After says.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error.jsonld"
                                }
                            },
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error.jsonld"
                                }
                            }
                        },
                        "headers": {
                            "X-Request-Id": {
                                "description": "Identifies this call in our logs. Keep it: quoting it in a report takes us straight to the record of what happened.",
                                "schema": {
                                    "type": "string"
                                },
                                "example": "01a06c3d-e514-70dc-80e7-d3a839a6c5eb"
                            },
                            "X-RateLimit-Limit": {
                                "description": "The allowance that applies, for whichever limit is closest to refusing you.",
                                "schema": {
                                    "type": "integer"
                                },
                                "example": 60
                            },
                            "X-RateLimit-Remaining": {
                                "description": "How much of that allowance is left.",
                                "schema": {
                                    "type": "integer"
                                },
                                "example": 59
                            },
                            "X-RateLimit-Reset": {
                                "description": "When the allowance is replenished, as a Unix timestamp.",
                                "schema": {
                                    "type": "integer"
                                },
                                "example": 1788522390
                            },
                            "Retry-After": {
                                "description": "Seconds to wait before trying again.",
                                "schema": {
                                    "type": "integer"
                                },
                                "example": 30
                            }
                        }
                    }
                },
                "summary": "Bulk unstar RMA requests",
                "description": "Removes star from multiple RMA requests.",
                "parameters": [],
                "requestBody": {
                    "description": "The new BulkStar resource",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/BulkStar"
                            }
                        },
                        "application/ld+json": {
                            "schema": {
                                "$ref": "#/components/schemas/BulkStar.jsonld"
                            }
                        }
                    },
                    "required": true
                },
                "deprecated": false
            }
        },
        "/v1/rma-requests/bulk/status": {
            "post": {
                "operationId": "api_v1rma-requestsbulkstatus_post",
                "tags": [
                    "BulkStatusChange"
                ],
                "responses": {
                    "201": {
                        "description": "BulkStatusChange resource created",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/BulkStatusChange"
                                }
                            },
                            "application/ld+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/BulkStatusChange.jsonld"
                                }
                            }
                        },
                        "headers": {
                            "X-Request-Id": {
                                "description": "Identifies this call in our logs. Keep it: quoting it in a report takes us straight to the record of what happened.",
                                "schema": {
                                    "type": "string"
                                },
                                "example": "01a06c3d-e514-70dc-80e7-d3a839a6c5eb"
                            },
                            "X-RateLimit-Limit": {
                                "description": "The allowance that applies, for whichever limit is closest to refusing you.",
                                "schema": {
                                    "type": "integer"
                                },
                                "example": 60
                            },
                            "X-RateLimit-Remaining": {
                                "description": "How much of that allowance is left.",
                                "schema": {
                                    "type": "integer"
                                },
                                "example": 59
                            },
                            "X-RateLimit-Reset": {
                                "description": "When the allowance is replenished, as a Unix timestamp.",
                                "schema": {
                                    "type": "integer"
                                },
                                "example": 1788522390
                            }
                        },
                        "links": []
                    },
                    "400": {
                        "description": "The request could not be processed. The body says which part was rejected.",
                        "content": {
                            "application/ld+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error.jsonld"
                                }
                            },
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        },
                        "headers": {
                            "X-Request-Id": {
                                "description": "Identifies this call in our logs. Keep it: quoting it in a report takes us straight to the record of what happened.",
                                "schema": {
                                    "type": "string"
                                },
                                "example": "01a06c3d-e514-70dc-80e7-d3a839a6c5eb"
                            },
                            "X-RateLimit-Limit": {
                                "description": "The allowance that applies, for whichever limit is closest to refusing you.",
                                "schema": {
                                    "type": "integer"
                                },
                                "example": 60
                            },
                            "X-RateLimit-Remaining": {
                                "description": "How much of that allowance is left.",
                                "schema": {
                                    "type": "integer"
                                },
                                "example": 59
                            },
                            "X-RateLimit-Reset": {
                                "description": "When the allowance is replenished, as a Unix timestamp.",
                                "schema": {
                                    "type": "integer"
                                },
                                "example": 1788522390
                            }
                        },
                        "links": []
                    },
                    "422": {
                        "description": "The payload did not pass validation. The body lists each field and what is wrong with it.",
                        "content": {
                            "application/ld+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ConstraintViolation.jsonld-jsonld"
                                }
                            },
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ConstraintViolation-json"
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ConstraintViolation-json"
                                }
                            }
                        },
                        "headers": {
                            "X-Request-Id": {
                                "description": "Identifies this call in our logs. Keep it: quoting it in a report takes us straight to the record of what happened.",
                                "schema": {
                                    "type": "string"
                                },
                                "example": "01a06c3d-e514-70dc-80e7-d3a839a6c5eb"
                            },
                            "X-RateLimit-Limit": {
                                "description": "The allowance that applies, for whichever limit is closest to refusing you.",
                                "schema": {
                                    "type": "integer"
                                },
                                "example": 60
                            },
                            "X-RateLimit-Remaining": {
                                "description": "How much of that allowance is left.",
                                "schema": {
                                    "type": "integer"
                                },
                                "example": 59
                            },
                            "X-RateLimit-Reset": {
                                "description": "When the allowance is replenished, as a Unix timestamp.",
                                "schema": {
                                    "type": "integer"
                                },
                                "example": 1788522390
                            }
                        },
                        "links": []
                    },
                    "403": {
                        "description": "The key is valid but not allowed to do this.",
                        "content": {
                            "application/ld+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error.jsonld"
                                }
                            },
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        },
                        "headers": {
                            "X-Request-Id": {
                                "description": "Identifies this call in our logs. Keep it: quoting it in a report takes us straight to the record of what happened.",
                                "schema": {
                                    "type": "string"
                                },
                                "example": "01a06c3d-e514-70dc-80e7-d3a839a6c5eb"
                            },
                            "X-RateLimit-Limit": {
                                "description": "The allowance that applies, for whichever limit is closest to refusing you.",
                                "schema": {
                                    "type": "integer"
                                },
                                "example": 60
                            },
                            "X-RateLimit-Remaining": {
                                "description": "How much of that allowance is left.",
                                "schema": {
                                    "type": "integer"
                                },
                                "example": 59
                            },
                            "X-RateLimit-Reset": {
                                "description": "When the allowance is replenished, as a Unix timestamp.",
                                "schema": {
                                    "type": "integer"
                                },
                                "example": 1788522390
                            }
                        },
                        "links": []
                    },
                    "401": {
                        "description": "The API key is missing, malformed, expired or no longer accepted.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error.jsonld"
                                }
                            },
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error.jsonld"
                                }
                            }
                        },
                        "headers": {
                            "X-Request-Id": {
                                "description": "Identifies this call in our logs. Keep it: quoting it in a report takes us straight to the record of what happened.",
                                "schema": {
                                    "type": "string"
                                },
                                "example": "01a06c3d-e514-70dc-80e7-d3a839a6c5eb"
                            },
                            "X-RateLimit-Limit": {
                                "description": "The allowance that applies, for whichever limit is closest to refusing you.",
                                "schema": {
                                    "type": "integer"
                                },
                                "example": 60
                            },
                            "X-RateLimit-Remaining": {
                                "description": "How much of that allowance is left.",
                                "schema": {
                                    "type": "integer"
                                },
                                "example": 59
                            },
                            "X-RateLimit-Reset": {
                                "description": "When the allowance is replenished, as a Unix timestamp.",
                                "schema": {
                                    "type": "integer"
                                },
                                "example": 1788522390
                            }
                        }
                    },
                    "429": {
                        "description": "Too many requests. The allowance is spent; wait as long as Retry-After says.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error.jsonld"
                                }
                            },
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error.jsonld"
                                }
                            }
                        },
                        "headers": {
                            "X-Request-Id": {
                                "description": "Identifies this call in our logs. Keep it: quoting it in a report takes us straight to the record of what happened.",
                                "schema": {
                                    "type": "string"
                                },
                                "example": "01a06c3d-e514-70dc-80e7-d3a839a6c5eb"
                            },
                            "X-RateLimit-Limit": {
                                "description": "The allowance that applies, for whichever limit is closest to refusing you.",
                                "schema": {
                                    "type": "integer"
                                },
                                "example": 60
                            },
                            "X-RateLimit-Remaining": {
                                "description": "How much of that allowance is left.",
                                "schema": {
                                    "type": "integer"
                                },
                                "example": 59
                            },
                            "X-RateLimit-Reset": {
                                "description": "When the allowance is replenished, as a Unix timestamp.",
                                "schema": {
                                    "type": "integer"
                                },
                                "example": 1788522390
                            },
                            "Retry-After": {
                                "description": "Seconds to wait before trying again.",
                                "schema": {
                                    "type": "integer"
                                },
                                "example": 30
                            }
                        }
                    }
                },
                "summary": "Bulk change status of RMA requests",
                "description": "Moves many RMA requests to the same state in one call. Requests whose current state does not allow the change are reported back rather than silently skipped.",
                "parameters": [],
                "requestBody": {
                    "description": "The new BulkStatusChange resource",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/BulkStatusChange"
                            }
                        },
                        "application/ld+json": {
                            "schema": {
                                "$ref": "#/components/schemas/BulkStatusChange.jsonld"
                            }
                        }
                    },
                    "required": true
                },
                "deprecated": false
            }
        },
        "/v1/rma-request-items-conditions": {
            "get": {
                "operationId": "api_v1rma-request-items-conditions_get_collection",
                "tags": [
                    "ItemCondition"
                ],
                "responses": {
                    "200": {
                        "description": "ItemCondition collection",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/ItemCondition"
                                    }
                                }
                            },
                            "application/ld+json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "member": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/ItemCondition.jsonld"
                                            }
                                        },
                                        "totalItems": {
                                            "type": "integer",
                                            "minimum": 0
                                        },
                                        "view": {
                                            "type": "object",
                                            "properties": {
                                                "@id": {
                                                    "type": "string",
                                                    "format": "iri-reference"
                                                },
                                                "@type": {
                                                    "type": "string"
                                                },
                                                "first": {
                                                    "type": "string",
                                                    "format": "iri-reference"
                                                },
                                                "last": {
                                                    "type": "string",
                                                    "format": "iri-reference"
                                                },
                                                "previous": {
                                                    "type": "string",
                                                    "format": "iri-reference"
                                                },
                                                "next": {
                                                    "type": "string",
                                                    "format": "iri-reference"
                                                }
                                            },
                                            "example": {
                                                "@id": "string",
                                                "type": "string",
                                                "first": "string",
                                                "last": "string",
                                                "previous": "string",
                                                "next": "string"
                                            }
                                        },
                                        "search": {
                                            "type": "object",
                                            "properties": {
                                                "@type": {
                                                    "type": "string"
                                                },
                                                "template": {
                                                    "type": "string"
                                                },
                                                "variableRepresentation": {
                                                    "type": "string"
                                                },
                                                "mapping": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "object",
                                                        "properties": {
                                                            "@type": {
                                                                "type": "string"
                                                            },
                                                            "variable": {
                                                                "type": "string"
                                                            },
                                                            "property": {
                                                                "type": [
                                                                    "string",
                                                                    "null"
                                                                ]
                                                            },
                                                            "required": {
                                                                "type": "boolean"
                                                            }
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    },
                                    "required": [
                                        "member"
                                    ]
                                }
                            }
                        },
                        "headers": {
                            "X-Request-Id": {
                                "description": "Identifies this call in our logs. Keep it: quoting it in a report takes us straight to the record of what happened.",
                                "schema": {
                                    "type": "string"
                                },
                                "example": "01a06c3d-e514-70dc-80e7-d3a839a6c5eb"
                            },
                            "X-RateLimit-Limit": {
                                "description": "The allowance that applies, for whichever limit is closest to refusing you.",
                                "schema": {
                                    "type": "integer"
                                },
                                "example": 60
                            },
                            "X-RateLimit-Remaining": {
                                "description": "How much of that allowance is left.",
                                "schema": {
                                    "type": "integer"
                                },
                                "example": 59
                            },
                            "X-RateLimit-Reset": {
                                "description": "When the allowance is replenished, as a Unix timestamp.",
                                "schema": {
                                    "type": "integer"
                                },
                                "example": 1788522390
                            },
                            "X-Total-Count": {
                                "description": "How many records match, across all pages.",
                                "schema": {
                                    "type": "integer"
                                },
                                "example": 1490
                            },
                            "X-Page": {
                                "description": "The page you are looking at.",
                                "schema": {
                                    "type": "integer"
                                },
                                "example": 1
                            },
                            "X-Per-Page": {
                                "description": "How many records a page holds.",
                                "schema": {
                                    "type": "integer"
                                },
                                "example": 30
                            },
                            "X-Total-Pages": {
                                "description": "How many pages there are.",
                                "schema": {
                                    "type": "integer"
                                },
                                "example": 50
                            },
                            "Link": {
                                "description": "The next and previous pages, ready to follow, with your filters preserved. No rel=\"next\" means you have reached the end.",
                                "schema": {
                                    "type": "string"
                                },
                                "example": "<https://api.retjet.com/v1/rma-requests?page=2>; rel=\"next\""
                            }
                        }
                    },
                    "403": {
                        "description": "The key is valid but not allowed to do this.",
                        "content": {
                            "application/ld+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error.jsonld"
                                }
                            },
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        },
                        "headers": {
                            "X-Request-Id": {
                                "description": "Identifies this call in our logs. Keep it: quoting it in a report takes us straight to the record of what happened.",
                                "schema": {
                                    "type": "string"
                                },
                                "example": "01a06c3d-e514-70dc-80e7-d3a839a6c5eb"
                            },
                            "X-RateLimit-Limit": {
                                "description": "The allowance that applies, for whichever limit is closest to refusing you.",
                                "schema": {
                                    "type": "integer"
                                },
                                "example": 60
                            },
                            "X-RateLimit-Remaining": {
                                "description": "How much of that allowance is left.",
                                "schema": {
                                    "type": "integer"
                                },
                                "example": 59
                            },
                            "X-RateLimit-Reset": {
                                "description": "When the allowance is replenished, as a Unix timestamp.",
                                "schema": {
                                    "type": "integer"
                                },
                                "example": 1788522390
                            }
                        },
                        "links": []
                    },
                    "401": {
                        "description": "The API key is missing, malformed, expired or no longer accepted.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error.jsonld"
                                }
                            },
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error.jsonld"
                                }
                            }
                        },
                        "headers": {
                            "X-Request-Id": {
                                "description": "Identifies this call in our logs. Keep it: quoting it in a report takes us straight to the record of what happened.",
                                "schema": {
                                    "type": "string"
                                },
                                "example": "01a06c3d-e514-70dc-80e7-d3a839a6c5eb"
                            },
                            "X-RateLimit-Limit": {
                                "description": "The allowance that applies, for whichever limit is closest to refusing you.",
                                "schema": {
                                    "type": "integer"
                                },
                                "example": 60
                            },
                            "X-RateLimit-Remaining": {
                                "description": "How much of that allowance is left.",
                                "schema": {
[...]
